In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/adult.data.csv')

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [19]:
len(data[data['sex'] == 'Female'])

10771

In [20]:
len(data[data['sex'] == 'Male'])

21790

In [141]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

### 2. Каков средний возраст (признак age) женщин?

In [26]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

### 3. Какова доля граждан Германии (признак native-country)?

In [29]:
len(data[data['native-country'] == 'Germany']) / len(data)

0.004207487485028101

### 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [136]:
data.groupby(['salary'])['age'].describe()

          count       mean        std   min   25%   50%   75%   max
salary
<=50K   24720.0  36.783738  14.020088  17.0  25.0  34.0  46.0  90.0
>50K     7841.0  44.249841  10.519028  19.0  36.0  44.0  51.0  90.0

### 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [69]:
data[(data['salary'] == '>50K') & (data['education'] != 'Bachelors') &  (data['education'] != 'Prof-school') 
     & (data['education'] != 'Assoc-acdm') & (data['education'] != 'Masters') & (data['education'] != 'Doctorate')].groupby(['education'])['salary'].describe()
# ответ - неправда

             count unique   top  freq
education
10th            62      1  >50K    62
11th            60      1  >50K    60
12th            33      1  >50K    33
1st-4th          6      1  >50K     6
5th-6th         16      1  >50K    16
7th-8th         40      1  >50K    40
9th             27      1  >50K    27
Assoc-voc      361      1  >50K   361
HS-grad       1675      1  >50K  1675
Some-college  1387      1  >50K  1387

### 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [70]:
data.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

### 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [83]:
data[(data['sex'] == 'Male') & (data['salary'] == '>50K')]['marital-status'].value_counts(normalize=True)

Married-civ-spouse       0.891324
Never-married            0.048784
Divorced                 0.042630
Separated                0.007355
Widowed                  0.005854
Married-spouse-absent    0.003452
Married-AF-spouse        0.000600
Name: marital-status, dtype: float64

### 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [90]:
data['hours-per-week'].max()

99

In [137]:
data[data['hours-per-week'] == 99].shape[0]

85

In [138]:
data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')].shape[0]

25

In [109]:
25/85

0.29411764705882354

### 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [134]:
df = data[data['native-country'] == 'Japan']

In [135]:
df.groupby(['native-country', 'salary'])['hours-per-week'].mean()

native-country  salary
Japan           <=50K     41.000000
                >50K      47.958333
Name: hours-per-week, dtype: float64